<h1>About Me: Summer Dawn</h1>
<ul>
    <li>I love to climb, run, and box.</li>
    <li>I have a dog named Beans.</li>
    <li>I have two kids, their names Asher and Jade.</li>
</ul>
<p>These are just a few things about me.</p>
